common:
  log_every_n_steps: 1
  gradient_clip_val: 0.5
  data_dir: "./data_preprocessed/celeba"
  images_dir: "img_align_celeba_128"
  encoded_dir: "./data_encoded"
  pretrained_dir: "./pretrained"
  pretrained_ver: "v0"
  pretrained_autoencoder: "autoencoder.ckpt"
  id_gen: "identity_generator.ckpt"
  deterministic: True
  precision: 16
  gpus: 2
  


autoencoder:
  max_epochs: 100
  batch_size: 1024
  num_workers: 4
  log_every_n_steps: 1
  lr: 0.0001
  accumulate_grad_batches: 1
  weight_decay: 0.00001
  find_unused_parameters: False

translator:
  max_epochs: 100
  batch_size: 4
  num_workers: 2
  lr_g: 0.0001
  lr_d: 0.0001
  target_attr: Male
  b1: 0.5
  b2: 0.999
  accumulate_grad_batches: 1
  lambda_A: 10
  lambda_B: 10
  lambda_idt: 0.5
  pretrain: 0

classifier:
  max_epochs: 50
  batch_size: 512
  num_workers: 4
  lr: 0.001
  weight_decay: 0.0001
  accumulate_grad_batches: 1


fvae:
  max_epochs: 100
  batch_size: 256
  num_workers: 4
  lr_vae: 0.0001
  beta1_vae: 0.9
  beta2_vae: 0.999
  lr_D: 0.00001
  beta1_D: 0.5
  beta2_D: 0.9
  gamma: 6.4
  z_dim: 1024